/* 
==================
    Variables
==================
*/

:root {
    --clr-primary-400: hsl(192, 37%, 48%);
    --clr-primary-800: hsl(192, 90%, 77%);
    --clr-secondary-400: hsl(268, 34%, 53%);
    --clr-neutral-200: hsl(240, 21%, 20%);
    --clr-neutral-500: hsl(240, 10%, 57%);
    --clr-neutral-800: hsl(0, 0%, 98%);
}

/* 
==============
    Fonts
==============
*/

@font-face {
    font-family: 'Red Hat Display Medium';
    src: url(./assets/Red_Hat_Display/static/RedHatDisplay-Medium.ttf);
}

@font-face {
    font-family: 'Red Hat Display Bold';
    src: url(./assets/Red_Hat_Display/static/RedHatDisplay-Bold.ttf);
}

@font-face {
    font-family: 'Red Hat Display Black';
    src: url(./assets/Red_Hat_Display/static/RedHatDisplay-Black.ttf);
}

/*
================
    Resets
================
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}


/*
=================
    Typography
=================
*/

html,
body {
    font-size: 16px;
    line-height: 26px;
}

body {
    font-family: 'Red Hat Display Medium', sans-serif;
    color: var(--clr-neutral-500);
}

h1 {
    font-family: 'Red Hat Display Black', sans-serif;
    font-style: normal;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: var(--clr-neutral-200);
}

/*
================
    Layout
================
*/

.logo-box {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 54px;
    background: pink;
}

.btn-box {
    width: 60%;
    margin: 0 auto;
    margin-top: 32px;
    text-align: center;
}

/*
===================
    Components
===================
*/

.hero {
    width: 110%;
    transform: translate(-20px, 0);
    background: mediumseagreen;
}

.hero img {
    width: 100%;
    height: 100%;
    background: black;
}

.headline {
    width: 88%;
    padding-top: 48px;
    padding-bottom: 66px;
    margin: 0 auto;
}

.headline h1 {
    width: 10ch;
    margin: 0 auto;
}

.headline p {
    margin-top: 24px;
    width: 30ch;
    text-align: center;
}

.btn {
    font-family: 'Red Hat Display Bold', sans-serif;
    line-height: 26px;
    color: #fff;
    font-size: 1rem;
    border-radius: 1000px;
    padding: 16px 28px;
    border: none;
}

.btn-primary {
    background-color: var(--clr-primary-400);
}

.btn-primary span {
    color: var(--clr-primary-800);
}

.btn-secondary {
    background-color: var(--clr-secondary-400);
}

.mb-1 {
    margin-bottom: 16px;
}